<GridLayout class="page" rows="*, auto">
    <StackLayout row="0" [ngSwitch]="selectedTab">
        <!-- router outlets -->
        <page-router-outlet *ngSwitchCase="tabs.Home" name="firstTab" actionBarVisibility="never"></page-router-outlet>
        <page-router-outlet *ngSwitchCase="tabs.Favorites" name="secondTab" actionBarVisibility="never"></page-router-outlet>
    </StackLayout>

    <BottomNavigation row="1" titleVisibility="always" (tabSelected)="onBottomNavigationTabSelected($event)">
        <BottomNavigationTab icon="ic_home" title="Home"></BottomNavigationTab>
        <BottomNavigationTab icon="ic_favorite" title="Favorites"></BottomNavigationTab>
        <BottomNavigationTab icon="ic_shopping_cart" title="Cart"></BottomNavigationTab>
        <BottomNavigationTab icon="ic_account" title="Account"></BottomNavigationTab>
        <BottomNavigationTab icon="ic_more" title="More"></BottomNavigationTab>
    </BottomNavigation>
</GridLayout>
